<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>
    Pipes incluidos en Angular - Usualment en el Common Module
  </p>
</div>

<div class="p-grid">
  <p class="col-4">
    <p-card header="Ventas Netas"
    subheader="del presente año">
    <i class="pi pi-dollar"></i>
      {{ ventasNetas | number:'1.2-2'}}
    </p-card>
  </p>
  <p class="col-4">
    <p-card header="Ventas Brutas"
    subheader="del presente año">
      {{ ventasNetas + 25702354 | currency:'CAD':'symbol-narrow':'1.4-4'}}
    </p-card>
  </p>
  <p class="col-4">
    <p-card header="Ganacia Porcentual"
    subheader="del presente año">
      {{ porcentaje | percent:'2.2-2'}}
    </p-card>
  </p>
</div>
